# Environment
.env
env.txt

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
